body {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 20px;
}
header {
  color: #0c4674;
  padding: 30px 20px 0px 20px;
  position: relative;
}
.misc {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}
.misc a {
  color: #0c4674;
  margin: 0 5px;
}
.cart {
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
}
.logo {
  width: 287px;
  height: 102px;
  margin: 0 auto;
  display: block;
}
.navbar {
  /* border-top: 0.5px solid #0c4674; */
}

.navbar-toggler i {
  font-size: 24px;
}
.nav-link {
  color: #0c4674;
}
.heropic {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 600px;
}
.hero {
  position: relative;
}
.herotext {
  position: absolute;
  width: 50%;
  bottom: 16px;
  left: 8px;
  max-width: 650px;
  max-height: 300px;
}
.journey {
  background-color: #0c4674;
  padding: 40px 30px 20px 30px;
}
.journey h2 {
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 70%;
}
.journey h2 span {
  color: #be3d30;
}
.search {
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.search input {
  width: 70%;
  padding: 12px;
  border-radius: 6px;
  font-size: 12px;
  margin-right: 16px;
  border: none;
}
.search button {
  border: none;
  background-color: #84b5db;
  color: white;
  border-radius: 5px;
  padding: 6px 12px;
  font-size: 20px;
}
.whatnext {
  padding: 40px 20px;
}
.whatnext h2 {
  color: #0c4674;
  margin-bottom: 30px;
  text-align: center;
}
.cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.singlecard {
  margin-bottom: 24px;
}
.singlecard img {
  width: 325px;
  display: block;
  margin-bottom: 10px;
}
.singlecard p {
  color: #0c4674;
  font-weight: bold;
}
.newsletter {
  background-color: #0c4674;
  padding: 40px 30px 40px 30px;
}
.newsletter h2 {
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 70%;
}
.subscribe {
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.subscribe input {
  width: 60%;
  padding: 12px;
  border-radius: 6px;
  font-size: 12px;
  margin-right: 16px;
  border: none;
}
.subscribe button {
  border: none;
  background-color: #84b5db;
  color: white;
  border-radius: 5px;
  padding: 6px 12px;
  font-size: 16px;
}
footer {
  padding: 40px 30px 40px 30px;
  position: relative;
}

.background {
  background-image: url(../images/logo2.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
}
.footerul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerul a {
  color: #0c4674;
}
.footericons {
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footericons i {
  color: #0c4674;
}
.footericons li {
  margin: 0 10px;
}
.dropdown-menu {
  background-color: #0c4674;
}
.dropdown-item {
  color: white;
}
.categories {
  border-top: 1px solid lightgray;
  padding: 40px 20px;
}
.categories h2 {
  text-align: center;
  color: #0c4674;
  margin-bottom: 30px;
}
.categories_container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
  justify-items: center;
}
@media screen and (min-width: 768px) {
  .navbar {
    padding-bottom: 0;
  }
  .navbar-expand-md .navbar-nav {
    justify-content: center;
    width: 100%;
  }

  .nav-item {
    border: 1px solid lightgray;
    border-bottom: none;
    transition: all 0.3s;
  }

  .nav-item:hover {
    background-color: #84b5db;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
    width: 150px;
    text-align: center;
  }
  .nav-item {
    margin: 0px 0px;
  }
  .footerul {
    flex-direction: row;
    justify-content: center;
  }
  .footerul li {
    margin: 0 15px;
  }
  .categories_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 937px) {
  .journey {
    padding: 80px 40px;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
  }
  .newsletter {
    padding: 80px 40px;
  }
  .categories {
    padding: 80px 40px;
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 28px;
  }
  .categories_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
